<ion-view ng-controller="HallCtrl">
    <ion-content scroll="false" id="content-pane" class="has-header">
    	<div class="item item-text-wrap" id="header">
    		<div class="row">
            	<div class="col col-80">
                	<strong>{{hall.name}}</strong> <br> <br> {{mealdesc(hall)}}
            	</div>
            	<div class="col col-20" align="right">
                	<div class="row">
                    	<button ng-click="rate(hall, 'upvote');$event.stopPropagation()" class="button button-clear button-dark centered_text">
                        <i class="icon ion-chevron-up {{ hall.rating == 'upvote' ? 'rating-upvote' : 'rating-none'}}"></i>
                    	</button>
                	</div>
            		<div class="row">
                    	<div class="centered_text rating-{{hall.rating}}">{{ score(hall) }}</div>
              		</div>
                	<div class="row">
                    	<button ng-click="rate(hall, 'downvote');$event.stopPropagation()" class="button button-clear button-dark centered_text">
                    		<i class="icon ion-chevron-down {{ hall.rating == 'downvote' ? 'rating-downvote' : 'rating-none'}}"></i>
                    	</button>
                	</div>
            	</div>
        	</div>
        	<div class="row">
            	<div class="col">
                	<p>{{hall.comments}} comments</p>
            	</div>
            	<div class="col" align="right">
                	<p>Closes {{hall.closes}}</p>
            	</div>
	        </div>
	    </div>


        <ion-scroll id="comments" zooming="false" direction="y" class="comments-scroll">
            <ion-refresher
                    pulling-text="Pull to refresh..."
                    on-refresh="refresh()">
            </ion-refresher>
            <ion-list>
                <div class="item item-text-wrap" ng-repeat="comment in comments">
                    <div class="row">
                        <div ng-if="comment.text" class="col col-80">
                           {{comment.text}}
                        </div>
                        <div ng-if="comment.image" class="col col-80 comment-image">
                            <img class="comment-image" src="data:image/jpeg;base64,{{comment.image}}"></img>
                        </div>

                        <div class="col col-20" align="right">
                            <div class="row">
                                <button ng-click="rate(comment, 'upvote');$event.stopPropagation()" class="button button-clear button-dark centered_text">
                                    <i class="icon ion-chevron-up {{ comment.rating == 'upvote' ? 'rating-upvote' : 'rating-none'}}"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="centered_text rating-{{comment.rating}}">{{ score(comment) }}</div>
                            </div>
                            <div class="row">
                                <button ng-click="rate(comment, 'downvote');$event.stopPropagation()" class="button button-clear button-dark centered_text">
                                    <i class="icon ion-chevron-down {{ comment.rating == 'downvote' ? 'rating-downvote' : 'rating-none'}}"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>{{comment.time}}</p>
                        </div>
                    </div>
                </div>
            </ion-list>
        </ion-scroll>


        <div class="row comment-entry item" id="footer">
            <input type="text" placeholder="What's on your plate?">
            <button ng-click="" class="button button-clear button-dark centered_text">
                <i class="icon ion-paper-airplane"></i>
            </button>
            <button ng-click="photo()" class="button button-clear button-dark centered_text">
                <i class="icon ion-camera"></i>
            </button>
        </div>



    </ion-content>

</ion-view>