<ion-view ng-controller="HallCtrl" view-title="{{ hall ? hall.name : 'Loading...'}}">
    <ion-pane>
    	<ion-content>
	    	<div class="item">
	    		<div class="row">
	            	<div class="col col-80">
	                	<strong>DINING HALL</strong> <br> <br> MEAL DESCRIPTION
	            	</div>
	            	<div class="col col-20" align="right">
	                	<div class="row">
	                    	<button ng-click="rate(hall, 'upvote');$event.stopPropagation()" class="button button-clear button-dark centered_text">
	                        <i class="icon ion-chevron-up {{ hall.rating == 'upvote' ? 'rating-upvote' : 'rating-none'}}"></i>
	                    	</button>
	                	</div>
	            		<div class="row">
	                    	<div class="centered_text rating-{{hall.rating}}">{{ 100 }}</div>
	              		</div>
	                	<div class="row">
	                    	<button ng-click="rate(hall, 'downvote');$event.stopPropagation()" class="button button-clear button-dark centered_text">
	                    		<i class="icon ion-chevron-down {{ hall.rating == 'downvote' ? 'rating-downvote' : 'rating-none'}}"></i>
	                    	</button>
	                	</div>
	            	</div>
	        	</div>
	        	<div class="row">
	            	<div class="col">
	                	<p>100 comments</p>
	            	</div>
	            	<div class="col" align="right">
	                	<p>Closes NEVER</p>
	            	</div>
		        </div>
		    </div>
	    <ion-content>
    </ion-pane>
</ion-view>