<ion-view ng-controller="HallCtrl">
    <div class="bar bar-subheader hall-header">
        <div class="item item-text-wrap" style="border: none;">
            <div class="row">
                <div class="col col-80">
                    <strong>{{hall.name}}</strong> <br> <br> {{mealdesc(hall)}}
                </div>
                <div class="col col-20" align="right">
                    <div class="row">
                        <button ng-click="rate(hall, 'upvote');$event.stopPropagation()" class="button button-clear button-dark centered_text">
                            <i class="fa fa-thumbs-up fa-lg {{ hall.rating == 'upvote' ? 'rating-upvote' : 'rating-none'}}"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="centered_text rating-{{hall.rating}}">{{ score(hall) }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{hall.comments}} comments</p>
                </div>
                <div class="col" align="right">
                    <p>Closes {{hall.closes}}</p>
                </div>
            </div>
        </div>
    </div>
    <ion-content delegate-handle="comments-scroll" id="content-pane" class="comment-list">
            <ion-refresher
                    pulling-text="Pull to refresh..."
                    on-refresh="refresh()">
            </ion-refresher>
            <ion-list>
                <div data-comment="{{ comment.id }}" class="item item-text-wrap {{ comment.user === USER_ID ? 'mycomment' : ''}}" ng-repeat="comment in comments">

                    <div class="row">
                        <div ng-if="comment.text" class="col col-80">
                           {{comment.text}}
                        </div>
                        <div ng-if="comment.image" class="col col-80 comment-image">
                            <img class="comment-image" src="data:image/jpeg;base64,{{comment.image}}"></img>
                        </div>

                        <div class="col col-20" align="right">
                            <div class="row">
                                <button ng-click="rate(comment, 'upvote');$event.stopPropagation()" class="button button-clear button-dark centered_text">
                                    <i class="icon ion-chevron-up {{ comment.rating == 'upvote' ? 'rating-upvote' : 'rating-none'}}"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="centered_text rating-{{comment.rating}}">{{ score(comment) }}</div>
                            </div>
                            <div class="row">
                                <button ng-click="rate(comment, 'downvote');$event.stopPropagation()" class="button button-clear button-dark centered_text">
                                    <i class="icon ion-chevron-down {{ comment.rating == 'downvote' ? 'rating-downvote' : 'rating-none'}}"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>{{comment.time}}</p>
                        </div>
                    </div>
                </div>
            </ion-list>
    </ion-content>
    <form ng-submit="comment()">
    <ion-footer-bar align-title="left" class="bar-light comment-entry padding-horizontal">

            <div class="row" id="footer">

                    <input ng-model="text" type="text" placeholder="What's on your plate?">
                    <button type="submit" class="button button-clear button-dark centered_text">
                        <i class="fa fa-paper-plane-o fa-lg footer-button"></i>
                    </button>
                    <button ng-click="photo()" class="button button-clear button-dark centered_text">
                        <i class="fa fa-camera fa-lg footer-button"></i>
                    </button>

            </div>

    </ion-footer-bar>
    </form>

</ion-view>